
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Магазин ПП продуктов</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://js.stripe.com/v3/"></script>

</head>
<style>

body {
        padding-top: 56px;
        background: url(https://oir.mobi/uploads/posts/2021-03/thumbs/1616554304_34-p-nezhno-goluboi-fon-odnotonnii-37.png) 100% 100% no-repeat; 
        background-size: cover; 

}



* {
   box-sizing: border-box;
}
.product-item {
   width: 215px;
   text-align: center;
   margin: 0 auto;
   border-bottom: 2px solid #F5F5F5;
   background: rgb(255, 255, 255);
   font-family: "Open Sans";
   transition: .3s ease-in;
}
.product-item:hover {
   border-bottom: 2px solid #fc5a5a;
}
.product-item img {
   display: block;
   width: 100%;
}
.product-list {
   background: hsl(0, 0%, 100%);
   padding: 15px 0;
}
.product-list h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}
.price {
   font-size: 16px;
   color: #fc5a5a;
   display: block;
   margin-bottom: 12px;
}
.button {
   text-decoration: none;
   display: inline-block;
   padding: 0 12px;
   background: #cccccc;
   color: white;
   text-transform: uppercase;
   font-size: 12px;
   line-height: 28px;
   transition: .3s ease-in;
}
.product-item:hover .button {
   background: #fc5a5a;
}

.colortext {
     color: rgb(33, 139, 165);
     text-align : center;
  }




</style>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-blue bg-white fixed-top">
    <a class="navbar-brand" href="{% url 'base' %}">Первая универсальная доставка по всей Беларуси</a>
    <div class="container">
     
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
              <a class="nav-link text-blue dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expended="false">
                Категории
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% for category in categories %}
                <a class="dropdown-item" href="{{ category.url }}">{{ category.name }}</a>
                {% endfor %}
              </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cart' %}">Корзина: <span class="badge badge-pill badge-danger">{{ cart.products.count }}</span></a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li>
            <form action="{% url 'search_results' %}" method="get">
              <input name="q" type="text" placeholder="Поиск">
            </form>
          </li>
          {% if not request.user.is_authenticated %}
          <li>
            <a class="nav-link text-blue" href="{% url 'login' %}">Авторизация</a>
          </li>
          <li>
            <a class="nav-link text-blue" href="{% url 'registration' %}">Регистрация</a>
          </li>
          {% endif %}
           <li class="nav-item">
             {% if request.user.is_authenticated %}
             <span class="navbar text text-blue">Здравствуйте, <span class="badge badge-danger">
             <a style="text-decoration: none; font-size:14px; color:white;" href="{% url 'profile' %}">{{ request.user.username }}</a>
            </span> | <a style="text-decoration: none; font-size:14px; color:rgb(0, 153, 255);" href="{% url 'logout' %}">Выйти</a></span>
             {% endif %}
           </li>
        </ul>
      </div>
    </div>
  </nav>
 
  <!-- Page Content -->
  
  
  <div class="container">
    {% block content %}
    <!-- <div class="row"> -->
      <marquee direction="right" scrollamount="15"><img width="800" height="400" src="https://hotskidki.by/wp-content/uploads/2021/04/dominos27.04.21.jpg"/><img width="800" height="400" src="https://images.dominos.by/media/uploads/2021/03/24/__852432-min.png" /><img width="800" height="400" src="https://images.dominos.by/media/uploads/2020/10/28/___852432.png"/><img></marquee>
      <!-- <div class="col-lg-3">

        <h1 class="my-4">Магазин ПиццаПиво</h1>

        <h1 class="my-4">Нашу пиццу заказывают знаменитости</h1>
        <img class="card-img-top" src="https://i.pinimg.com/736x/d1/bc/77/d1bc777133ef71eb26ca380f5a30cdc0.jpg">
      </div> -->
      <!-- /.col-lg-3 -->

      <!-- <div class="col-lg-9"> -->
   
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
        {% endif %}
        <!-- <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block" width="800" height="400" src="https://i.pinimg.com/474x/50/0d/dc/500ddc9658d909c69a2e4dc020d7dcd6.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block" width="800" height="400" src="https://turboportal.net/uploads/posts/2014-04/1396941020__.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block" width="800" height="400" src="https://www.meme-arsenal.com/memes/b532a01e78fd8ac51909090252ccb049.jpg" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="false"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="false"></span>
            <span class="sr-only">Next</span>
          </a>
        </div> -->
       

        <div class="row">
          {% for product in products %}
       
            <div class="product-item">
              <a href="{{ product.get_absolute_url }}"><img width=250 height=250 src="{{ product.image.url }} "></a>
              <div class="product-list">
                <h3>{{ product.title }}</h3>
                  <span class="price">{{ product.price }} руб.</span>
                  <a href="{% url 'add_to_cart' ct_model=product.get_model_name slug=product.slug %}" class="button">В корзину</a>
              </div>
              </div>
            <!-- <div class="card h-100">
              <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image.url }} " alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                </h4>
                <h5>{{ product.price }} руб.</h5>
                <a href="{% url 'add_to_cart' ct_model=product.get_model_name slug=product.slug %}">
                  <button class="btn btn-danger">Добавить в корзину</button>
                </a> -->
              <!-- </div> -->
            
        
          {% endfor %}
        </div>
        <!-- /.row -->
      
      {% endblock content %}
      <!-- </div> -->
      <!-- /.col-lg-9 -->

    <!-- </div> -->
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-white">
    <div class="container">
      <p class="colortext">Copyright &copy; P-P SHOP (ВСЕ ПРАВА НА НАЗВАНИЕ ЗАЩИЩЕНЫ)</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>



