<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Title</title>
</head>
<body>
<table class="table">
    <tbody>
        <tr>
        <td>Цвет</td>
        <td>{{ product.colour }}</td>
        </tr>
        <tr>
        <td>Крепость</td>
        <td>{{ product.alcohol_strength }}</td>
        </tr>
        <tr>
        <td>Фильтрация</td>
        <td>{{ product.filtered }}</td>
        </tr>
        <tr>
        <td>Сорт</td>
        <td>{{ product.grade }}</td>
        </tr>
    </tbody>
</table>
</body>
</html>

