<table class="table">
  <tbody>
    <tr>
      <td>Диагональ</td>
      <td>{{product.diagonal}}</td>
  </tbody>
   <tbody>
    <tr>
      <td>Тип дисплея</td>
      <td>{{product.display_type}}</td>
  </tbody>
   <tbody>
    <tr>
      <td>Разрешение экрана</td>
      <td>{{product.resolution}}</td>
  </tbody>
   <tbody>
    <tr>
      <td>Объем батареи</td>
      <td>{{product.accume_volume}}</td>
  </tbody>
   <tbody>
    <tr>
      <td>Оперативная память</td>
      <td>{{product.ram}}</td>
  </tbody>
   <tbody>
    <tr>
      <td>Наличие слота для SD карты</td>
      <td>{{product.sd}}</td>
  </tbody>
    <tbody>
    <tr>
      <td>Максимальный объем встраивоемой памяти</td>
      <td>{{product.sd_volume_max}}</td>
  </tbody>
   <tbody>
    <tr>
      <td>Главная камера</td>
      <td>{{product.main_cam_mp}}</td>
  </tbody>
   <tbody>
    <tr>
      <td>Фронтальная камера</td>
      <td>{{product.frontal_cam_mp}}</td>
  </tbody>
</table>



